*{
  box-sizing: border-box;
}
body{
  background-color: #17181f;
  color: #ddd;
}
main{
  max-width: 360px;
  margin: 30px auto;
}

h1{
  color: #fff;
  text-align: center;
  margin: 0px;
}

form{
  margin-top: 20px;
}

form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  border-radius: 5px;
  padding: 2px 5px;
}

form input[type = "datetime-local"]{
  color: #777;
}

form div.basic{
  display: flex;
  gap: 5px;
  margin-bottom: 5px
}

form button{
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  background-color:#ddd;
  border: 2px solid #30313d;
  padding: 2px;
}

div.transactions{
  margin-top: 10px;
}

div.transaction{
  display: flex;
  justify-content:space-between;
  padding: 5px 0;
  border-top: 1px solid #30313d;
}

div.transaction:first-child{
  border-top: 0px;
}

div.transaction div.name{
  font-size: 1rem;
}

div.transaction div.description, div.transaction div.dateTime{
  font-size: 0.7rem;
  color: #888;
}

div.right{
  text-align: right;
}

div.price.red{
  color: #c11;
}

div.price.green{
  color: #1c1;
}